.homeSection, 
.productSection {
    height: 100vh;
    display: flex;
}

.homeSection .lightButton,
.productSection .darkButton {
    padding: 10px 15px;
    font-weight: 600;
    font-size: 15px;
}

.homeSection {
    background: var(--gradient-purple);
    color: var(--color-1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.homeSection h1 {
    margin-top: -20px;
    font-size: 40px;
}

.homeSection p {
    margin-top: 40px;
    margin-bottom: 15px;
}


.productSection {
    background: var(--color-2);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center; 
    height: 100vh; 
}

.productContent {
    background: var(--color-1);
    width: 85%; 
    max-width: 1200px; 
    height: 85%; 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 auto; 
}

.productContent .leftSection {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 20px; 
}

.productContent .leftSection > :first-child {
    font-weight: 700;
}

.productContent .leftSection h2 {
    font-size: 40px;
}

.productContent .leftSection button {
    margin: 30px 0 50px 0;
}

.productContent .rightSection {
    background-image: url('../../assets/image/car.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    border-radius: 8px;
    width: 70%; 
    height: 100%; 
    margin-left: auto; 
}

@media (max-width: 700px) {
    .productContent {
        grid-template-columns: 1fr; 
    }

    .productContent .rightSection {
        display: none;
    }
}
