.subHeaderSection {
    color: var(--color-3);
}

.subHeaderSection nav {
    background-color: var(--color-2);
    padding: 8px 5px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.subHeaderSection nav button {
    background-color: var(--color-2);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subHeaderSection nav button.active {
    background-color: var(--color-1);
}