@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --color-1: #ffffff;
    --color-2: #EAEAEA;

    --color-label: #595D63;

    --color-button: #121E2A;
    
    --gradient-purple: linear-gradient(180deg, #020004 35%, #09051F 100%);
    --gradient-purple-responsive: linear-gradient(180deg, #09051F 35%, #020004 100%);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}