@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-1: #ffffff;
    --color-2: #EAEAEA;
    --color-3: #1b1b1b;
    --color-4: #121E2A;

    --color-label: #595D63;
    --color-span: #002B6D;
    
    --gradient-purple: linear-gradient(180deg, #020004 35%,  #09051F 100%);
    --gradient-purple-responsive: linear-gradient(180deg, #09051F 35%, #020004 100%);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

button {
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.darkButton {
    background-color: var(--color-4) ;
    color: var(--color-1);
}

.lightButton {
    background-color: var(--color-1);
    color: var(--color-3);
}

span {
    color: var(--color-span);
    font-weight: 700;
}