.racingSection {
    padding: 10% 30%;
}

.subHeader nav {
    background-color: var(--color-2);
    padding: 10px 25px;
    border-radius: 5px;
}

.subHeader nav a {
    background-color: var(--color-1);
    padding: 5px 10px;
    border-radius: 5px;
}

.blockRacingItem {
    width: 100%;
    border: 2px solid black;
}