.leaderboardContent {
    display: flex; 
    padding: 30px;
    gap: 10px;
}

.leaderboardContent h2 {
    font-size: 16.5px;
}

.bestPilots {
    height: 500px;
    width: 250px;
    flex-shrink: 0; 
    border: 2.5px solid var(--color-2); 
    border-radius: 5px;
    padding: 10px;
}

.leaderboardContent .rightSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.featuredUsers,
.personalProfile,
.nextRaces {
    border: 2.5px solid var(--color-2);
    padding: 10px;
    border-radius: 5px;
    width: fit-content; 
}

#pilotItem {
    display: flex;
    gap: 10px;
    white-space: nowrap;
}