.racingSection {
    background-color: var(--color-1);
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subHeader, .racingItems {
    width: 100%;
    max-width: 800px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerTitle {
    margin: 0 26% 10px 5%;
}