.racingSection {
    background-color: var(--color-1);
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subHeader, .racingItems {
    width: 100%;
    max-width: 800px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerTitle {
    margin: 0 26% 10px 5%;
}

.racerItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

#dayMonth {
    font-weight: 700;
    font-size: 35px;
    transition: 0.2s;
}

#dayWeek {
    transition: 0.2s;
}

#locate svg {
    margin-right: 10px;
}

#locate, #bet {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.racerItem button {
    padding: 8px 15px;
}

@media (max-width: 781px) {
    .racerItem { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 35px; 
        justify-items: center; 
        align-items: center; 
    }
}