footer {
    background: var(--gradient-purple);
    color: var(--color-1);
    padding: 20px;
}

.footerContent {
    display: flex;
    justify-content: space-around; 
}

#logoFooter {
    margin: 0 0 10px -230px;
    height: 40px;
    width: 40px;
}

.footerSection {
    flex: 1;
    text-align: center;
    padding: 25px;
}

.footerSection h4 {
    font-size: 1rem;
    margin: 1.5rem 0 2rem 0;
}

.footerSection ul {
    list-style: none;
    padding: 0;
    margin: 0 auto; 
    width: fit-content; 
}

.footerSection p {
    margin-top: -1.7rem;
}

.footerSection ul li,
.footerSection p {
    margin-bottom: 1rem;
    text-align: start;
    transition: transform 0.5s ease; 
    cursor: pointer;
}

.footerSection ul li:hover {
    transform: translateX(-8px);
    color: rgb(223, 217, 217);
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.line {
    height: 1.5px;
    width: 100%;
    background-color: var(--color-1);
    margin: 40px auto;
}

.copyright {
    flex: 1;
}

.copyright h5 {
    font-weight: 500;
}

.policiesAndTerms {
    display: flex;
    gap: 15px;
    flex: 1;
    justify-content: flex-end;
    gap: 100px;
}

.policiesAndTerms p {
    font-size: 13px;
}

.links {
    text-decoration: none; 
    color: inherit;
}

@media (max-width: 781px) {
    .footerContent {
        flex-direction: column;
        align-items: center;
    }

    .footerSection {
        max-width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .footerSection h4 {
        margin-bottom: 5px;
    }

    .footerSection ul li {
        margin-bottom: 3px;
    }

    .footerBottom {
        flex-direction: column;
        align-items: center;
    }

    .policiesAndTerms {
        justify-content: center;
    }
}